# excluding the files required to create the configure script (running autoconf on configure.ac) and Makefile.in scripts (running automake on Makefile.am scripts in root and src subdirectory)
aclocal.m4
#configure.ac
Makefile

mpdecimal-2.4.2/config.status
mpdecimal-2.4.2/config.log
mpdecimal-2.4.2/libmpdec/*.o
mpdecimal-2.4.2/libmpdec/*.a
mpdecimal-2.4.2/libmpdec/.objs/*
mpdecimal-2.4.2/Makefile

lib/*

cdecimal-2.3/*

libtommath-1.1.0/*
libtommath/*.a
libtommath/*.o

src/Makefile
src/mpdecimal.h
src/*.o
src/M
