mpdecimal-2.4.2/config.status
mpdecimal-2.4.2/config.log
mpdecimal-2.4.2/libmpdec/*.o
mpdecimal-2.4.2/libmpdec/*.a
mpdecimal-2.4.2/libmpdec/.objs/*

lib/libmpdec.a
lib/libtommath.a

cdecimal-2.3/*

libtommath-1.1.0/*
libtommath.a
libtommath/*.a
libtommath/*.o
